*{
    box-sizing: border-box;
}

body{
    background-color: rgb(0,0,0);
    color:rgb(255,255,255);
    font-family: 'Source Code Pro', monospace;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: clip;
}

a:any-link{
    color: rgb(100,100,100);
}

a:visited{
    color: rgb(100,100,100);
}

#anim{
    z-index: -1;
}

.t1{
    display: none;
}

.t2{
    display: none;
}

.t3{
    display: none;
}

.t4{
    display: none;
}

.show{
    display: grid;
}

.dissapear{
    display: none;
}
