@keyframes bg-gradient{
    0%{background-position: 10% 0%;}
    40%{background-position: 100% 80%;}
    50%{background-position: 90% 100%;}
    100%{background-position: 10% 0%;}
}

.project-wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-origin: content-box;
    background: linear-gradient(135deg, rgba(16,219,226,1), rgba(72,64,240,1), rgba(90,15,245,1));
    background-size: 150% 150%;
    animation: bg-gradient 3.5s ease infinite;
    padding-top: 15px;

    overflow-y: scroll;
    scrollbar-width: thin;
}

.project-app{
    display: flex;
    flex-wrap: wrap;
    justify-content : center;
    align-items: center;
}

.project-head{
    padding: 1rem;
    margin: 25px 1rem 25px 1rem;
    border: 4px solid black;
    border-radius: 8px; 
    width: clamp(30rem, calc(30rem + 2vw), 35rem);
    overflow: hidden;
    background-color: white;
    opacity: 90%;
}

.project-card{
    padding: 1rem;
    margin: 8px;
    border: 4px solid black;
    border-radius: 8px; 
    width: clamp(30rem, calc(30rem + 2vw), 35rem);
    overflow: hidden;
    background-color: white;
    opacity: 90%;
}

.card-head{
    border-bottom: 4px double black;
    padding-bottom: 7px;
}

.card-title{
    font-weight: bold;
    font-size: 1.8rem;
}

.card-link, .card-link:visited{
    font-size: .8rem;
    color: #82857F;
}

.card-body{
    padding-top: 7px;
}

.card-description{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 1rem;
}

.card-tag{
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    margin: 2px;
    font-size: .9rem; 
}


