@keyframes bg-gradient{
    0%{background-position: 10% 0%;}
    40%{background-position: 100% 80%;}
    50%{background-position: 90% 100%;}
    100%{background-position: 10% 0%;}
}

body {
    background: linear-gradient(90deg, #556CD4, #69A4EB, #55AFD4);
    background-size: 150% 150%;
    animation: bg-gradient 3.5s ease infinite;
}

.center-div{ 
    margin-top: calc(40vh - 25px);
    margin-left: calc(35vw - 25px);
    margin-right: calc(35vw - 25px);
}

.txt {
    font-size: 2.5rem;
    color: #f5f5f4;
}

.btn-home {
    border: none;
    border-radius: 8px;
    padding: 15px 15px;
    background: rgb(128, 209, 247, 97);
    color: black;
    margin-top: 30px;
    margin-left: 0px;
    font-size: 15px;
    z-index: -2;
    transition-duration: 0.5s;
}

.btn-home:hover {
    background: rgb(43, 146, 194, 76);
    margin-left: 25px;
    transition-duration: 0.5s;
}