html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

body{
    background-image: url(/assets/images/bgIndex.jpg);
    background-size: cover;
}

/* Background gradient animation */
@keyframes bg-gradient{
    0%{background-position: 10% 0%;}
    40%{background-position: 100% 80%;}
    50%{background-position: 90% 100%;}
    100%{background-position: 10% 0%;}
}

.inactive > h1{
    color: black;
}

.active{
    font-size: 1.5vw;
    margin: 15%;
}

.division.upLeft > .active{
    color: rgba(49, 49, 49, 1)
}

.division.upRight > .active{
    color: rgba(245, 245, 245, 1)
}

.division.botLeft > .active{
    color: rgba(80, 80, 80, 1)
}

.division.botRight > .active{
    color: rgba(30, 30, 30, 1)
}

@media screen and (min-width: 320px) {
    .active{
        margin: 15%;
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }

    .division.upLeft > .active{
        color: rgba(49, 49, 49, 1);
    }

    .division.upRight > .active{
        color: rgba(245, 245, 245, 1);
        font-size: calc(16px + 5 * ((100vw - 320px) / 680));
    }
    
    .division.botLeft > .active{
        color: rgba(80, 80, 80, 1);
    }
    
    .division.botRight > .active{
        color: rgba(30, 30, 30, 1);
        font-size: calc(16px + 5 * ((100vw - 320px) / 680));
    }
}

.clean_link:link, .clean_link:visited{
    color: inherit;
}
/* 4 way division */
.divider{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-origin: content-box;
    background: linear-gradient(135deg, rgba(16,219,226,1), rgba(72,64,240,1), rgba(90,15,245,0.96));
    background-size: 150% 150%;
    animation: bg-gradient 3.5s ease infinite;
}

/* Individual division general */
.division{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    float:left;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #FFF;
    overflow-x: auto;
}

/* up left division */
.division.upLeft{
    width: 50%;
    height: 50%;
    transition: all 0.4s ease;
}

.division.upLeft:hover{
    width: 100%;
    height: 75%;
    background-color: #ff7f50;
    transition: all 0.4s ease;
}


.division.upLeft .inactive{
    display: flex;
}

.division.upLeft:hover .inactive{
    display: none;
}


.division.upLeft .active{
    display: none;
}

.division.upLeft:hover .active{
    display: flex;
}

/* up right division */
.division.upRight{
    height: 50%;
    transition: all 0.4s ease;
}

.division.upRight:hover{
    height: 80%;
    background-color: blue;
    transition: all 0.4s ease;
}

.division.upRight:hover + .division.botLeft{
    transform: translateY(-60%);
    transition: all 0.4s ease;
}


.division.upRight .inactive{
    display: flex;
}

.division.upRight:hover .inactive{
    display: none;
}


.division.upRight .active{
    display: none;
}

.division.upRight:hover .active{
    display: flex;
}

/* bot left division */
.division.botLeft{
    height: 50%;
    transition: all 0.4s ease;
}

.division.botLeft:hover{
    height: 80%;
    transform: translateY(-35%);
    background-color: khaki;
    transition: all 0.4s ease;
}


.division.botLeft .inactive{
    display: flex;
}

.division.botLeft:hover .inactive{
    display: none;
}


.division.botLeft .active{
    display: none;
}

.division.botLeft:hover .active{
    display: flex;
}

/* bot right division */
.division.botRight{    
    height: 50%;
    transition: all 0.4s ease;
}

.division.botRight:hover{
    background-color: magenta;
    height: 80%;
    transform: translateY(-35%);
    transition: all 0.4s ease;
}


.division.botRight .inactive{
    display: flex;
}

.division.botRight:hover .inactive{
    display: none;
}


.division.botRight .active{
    display: none;
}

.division.botRight:hover .active{
    display: flex;
}
 
