
.lang-bibtex{
    background-color: rgb(119, 136, 153);
    color: black;
}

.lang-cpp{
    background-color: rgb(243, 5, 151);
    color: black;
}

.lang-csharp{
    background-color: rgb(7, 106, 0);
    color: white;
}

.lang-c{
    background-color: rgb(46, 44, 44);
    color: black;
}

.lang-css{
    background-color: rgb(68, 0, 195);
    color: white;
}

.lang-html{
    background-color: rgb(228, 85, 2);
    color: black;
}

.lang-js{
    background-color: rgb(248, 245, 47);
    color: black;
}

.lang-other{
    background-color: rgb(255, 255, 255);
    color: black;
}

.lang-processing{
    background-color: rgb(0, 160, 240);
    color: black;
}

.lang-procfile{
    background-color: rgb(255,255,255);
    color: black;
}

.lang-py{
    background-color: rgb(0, 126, 169);
    color: white;
}

.lang-scss{
    background-color: rgb(255, 27, 213);
    color: black;
}

.lang-tex{
    background-color: rgb(44, 120, 141) ;
    color: black;
}

.lang-ts{
    background-color: rgb(0, 48, 124);
    color: white;
}

